  .field {
    width: 1200px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    background-color: #819FF7;
  }

  .fieldUser {
    background-color: #ffffff;
    width: 430px;
    height: 430px;
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    /* background: url('playerField.png') no-repeat; */
  }

  .fieldComp {
    background-color: #ffffff;
    width: 430px;
    height: 430px;
    /* display: block; */
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    /* background: url('playerField.png') no-repeat; */
  }

  i{
    margin-left: 70px;
    font-family: monospace;
    font-weight: bold;
    font-size: 200%;
    color:#239FF7;
  }

.table{
  left: 50px;
  top: 50px;
}


  .cell{
    width: 30px;
    height: 30px;
    border: 2px solid #239FF7;
    position: absolute;
  }
